n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-whatsapp-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6feca830-f3b0-4d08-a8a8-4ba7de7799a4",
      "name": "WASender Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1216, 432],
      "webhookId": "3a6ecbbc-8d0b-4d34-b6ca-6cea23e54bd8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sender-id",
              "name": "senderId",
              "value": "={{ $json.body.data.messages.key.cleanedSenderPn ?? $json.body.data.messages.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "message-text",
              "name": "messageText",
              "value": "={{ $json.body.data.messages.messageBody ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "session-key",
              "name": "sessionKey",
              "value": "={{ $json.body.data.messages.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "from-me",
              "name": "fromMe",
              "value": "={{ $json.body.data.messages.key.fromMe }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "2042ab75-0620-4008-b5ab-dbbf2ce38c41",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-992, 432]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.messageText }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": ""
            },
            {
              "leftValue": "={{ $json.fromMe }}",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "89f8b42e-2a98-40e6-979a-a210d0543674",
      "name": "Is Real Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-768, 432]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_menu",
        "returnAll": true
      },
      "id": "136bd949-7fb9-49c3-a57b-15802c62e28a",
      "name": "Get Menu",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-544, 336],
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "VmPkucuvo5DoyPHi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "src-menu",
              "name": "_source",
              "value": "menu",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ff5f5744-f529-4a21-8d12-36417abeb452",
      "name": "Tag Menu Rows",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-320, 336]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst menuItems = [];\n\nfor (const item of items) {\n  if (item.json._source === 'menu') {\n    menuItems.push(item.json);\n  }\n}\n\nconst menuText = menuItems\n  .filter(m => m.is_available !== false)\n  .map(m =>\n    `• [${m.id}] ${m.name_en} / ${m.name_ar} — Price: ${m.price} EGP | Category: ${m.category_en}`\n  ).join('\\n');\n\nreturn [{\n  json: {\n    menuContext: menuText || 'Menu not available at the moment.',\n    restaurantContext: 'Name: Stockify Restaurant\\nAddress: Contact us for details\\nPhone: Contact via WhatsApp\\nHours: Daily 10:00 AM – 11:00 PM',\n    senderId: $('Extract Message').first().json.senderId,\n    messageText: $('Extract Message').first().json.messageText,\n    sessionKey: $('Extract Message').first().json.sessionKey\n  }\n}];\n"
      },
      "id": "7218b325-c5df-4a5b-bc9f-214e01a0a365",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-96, 336]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "received"
        },
        "options": {
          "responseCode": 200
        }
      },
      "id": "f7c1c729-d5c2-49cb-ad35-f7151b8dec89",
      "name": "Acknowledge Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2048, 432]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "options": {
          "systemMessage": "=You are a friendly WhatsApp chatbot for a restaurant.\nAlways reply in the same language the customer uses (Arabic or English).\nBe concise, warm, and helpful.\n\n=== RESTAURANT INFORMATION ===\n{{ $json.restaurantContext }}\n\n=== MENU ===\n{{ $json.menuContext }}\n\n=== YOUR RESPONSIBILITIES ===\n- Answer questions about the menu (items, prices, ingredients, categories)\n- Share restaurant info: address, phone number, working hours\n- Help customers build and confirm their order\n- When a customer CONFIRMS their final order (e.g. says \"yes\", \"confirm\", \"order this\", \"طلبت\", \"اطلب\", \"تمام\", \"أكيد\"), output the order in the special format below\n- If asked about something you don't know, politely say you'll check and ask them to call the restaurant\n\n=== ORDER CONFIRMATION FORMAT ===\nWhen the customer confirms their order, your ENTIRE response must be ONLY this JSON block (no extra text before or after):\nORDER_CONFIRMED:{\"items\":[{\"id\":\"<UUID from [UUID] prefix in menu listing>\",\"name\":\"Item Name\",\"quantity\":1,\"price\":50}],\"total\":50,\"customer_phone\":\"{{ $json.senderId }}\",\"notes\":\"any special requests or empty string\"}\n\nIMPORTANT: For each item's \"id\" field, copy the exact UUID shown inside the square brackets [UUID] at the start of that menu item's line. Do NOT invent or modify UUIDs.\n\n=== RULES ===\n- Never make up menu items or prices — only use what is listed above\n- Keep replies short and friendly, suitable for WhatsApp\n- Use emojis sparingly 🍽️\n- Only output ORDER_CONFIRMED JSON when the customer has explicitly confirmed — not while they are still browsing"
        }
      },
      "id": "c2797ca0-b3ee-4a48-86dd-a6a582b51eb9",
      "name": "Restaurant AI Chatbot",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [128, 336]
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.5
        }
      },
      "id": "293fcc78-d165-4250-9e74-9b39c84f04ee",
      "name": "Gemini 2.5 Flash Lite",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [144, 560],
      "credentials": {
        "openRouterApi": {
          "id": "vsbx3ymi6pBYje8s",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionKey }}",
        "contextWindowLength": 10
      },
      "id": "7ca8731c-3848-4c7f-95e0-8f3ecb9affa2",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [272, 560]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "ORDER_CONFIRMED:",
              "id": "502e7208-a429-4787-b131-e75e747fc201"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b6d3df55-a0e6-4932-88af-9dfbef3ae24d",
      "name": "Order Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [480, 336]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json.output;\nconst jsonStr = raw.replace('ORDER_CONFIRMED:', '').trim();\nconst order = JSON.parse(jsonStr);\n\nconst itemLines = order.items.map(i =>\n  `  • ${i.name} x${i.quantity} — ${i.price * i.quantity} EGP`\n).join('\\n');\n\nconst confirmationMsg =\n  `✅ تم استلام طلبك! / Order received!\\n\\n` +\n  `🧾 ${itemLines}\\n\\n` +\n  `💰 Total: ${order.total} EGP\\n` +\n  (order.notes ? `📝 Notes: ${order.notes}\\n` : '') +\n  `\\nسيتم التواصل معك قريباً / We will contact you soon! 🙏`;\n\nreturn [{\n  json: {\n    customer_phone: order.customer_phone,\n    items: order.items,\n    total_price: order.total,\n    source: 'whatsapp',\n    type: 'delivery',\n    status: 'pending',\n    notes: order.notes || '',\n    replyText: confirmationMsg,\n    senderId: order.customer_phone\n  }\n}];\n"
      },
      "id": "d36ac8f7-9106-4fad-93f0-deee4038634a",
      "name": "Parse Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [704, 240]
    },
    {
      "parameters": {
        "tableId": "orders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "whatsapp"
            },
            {
              "fieldId": "type",
              "fieldValue": "delivery"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "owner_name",
              "fieldValue": "={{ $json.customer_phone }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.notes }}"
            },
            {
              "fieldId": "total_price",
              "fieldValue": "={{ $json.total_price }}"
            }
          ]
        }
      },
      "id": "2fc0191f-a977-448c-b082-310706bd669c",
      "name": "Save Order",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [928, 240],
      "credentials": {
        "supabaseApi": {
          "id": "VmPkucuvo5DoyPHi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst orderId = $('Save Order').first().json.id;\nconst items = $('Parse Order').first().json.items;\n\nreturn items.map(item => ({\n  json: {\n    order_id: orderId,\n    menu_item_id: item.id,\n    quantity: item.quantity,\n    unit_price: item.price,\n    notes: ''\n  }\n}));\n"
      },
      "id": "ad540463-d621-45e4-bb1d-65f16b82accc",
      "name": "Expand Order Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, 240]
    },
    {
      "parameters": {
        "tableId": "order_items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "menu_item_id",
              "fieldValue": "={{ $json.menu_item_id }}"
            },
            {
              "fieldId": "quantity",
              "fieldValue": "={{ $json.quantity }}"
            },
            {
              "fieldId": "unit_price",
              "fieldValue": "={{ $json.unit_price }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.notes }}"
            }
          ]
        }
      },
      "id": "ffd38481-2942-4e52-86c0-585df46def13",
      "name": "Save Order Items",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1376, 240],
      "credentials": {
        "supabaseApi": {
          "id": "VmPkucuvo5DoyPHi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reply-to",
              "name": "to",
              "value": "={{ $(\"Parse Order\").first().json.senderId }}",
              "type": "string"
            },
            {
              "id": "reply-text",
              "name": "text",
              "value": "={{ $(\"Parse Order\").first().json.replyText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fe4a9960-b29b-44f5-b5d6-b6cd2146231a",
      "name": "Prepare Order Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 240],
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "245210d4-fb14-426a-b3f1-698dca3c2bf3",
      "name": "Send Order Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1824, 240],
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "5Ugm7BAr5vE5fpmf",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "Z0C1kXjMI0QJ34as",
          "name": "Bearer Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reply-to",
              "name": "to",
              "value": "={{ $(\"Build Context\").first().json.senderId }}",
              "type": "string"
            },
            {
              "id": "reply-text",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e71d3cdf-e297-4aeb-830c-0726c5da54c8",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1152, 432]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "edd6fb54-e3f6-4f16-bd7c-4c1ebe7406d3",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1376, 432],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5Ugm7BAr5vE5fpmf",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "Z0C1kXjMI0QJ34as",
          "name": "Bearer Auth account 4"
        }
      }
    }
  ],
  "connections": {
    "WASender Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Is Real Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Real Message?": {
      "main": [
        [
          {
            "node": "Get Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Menu": {
      "main": [
        [
          {
            "node": "Tag Menu Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Menu Rows": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Restaurant AI Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant AI Chatbot": {
      "main": [
        [
          {
            "node": "Order Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Restaurant AI Chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Restaurant AI Chatbot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Order Confirmed?": {
      "main": [
        [
          {
            "node": "Parse Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Order": {
      "main": [
        [
          {
            "node": "Save Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order": {
      "main": [
        [
          {
            "node": "Expand Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Order Items": {
      "main": [
        [
          {
            "node": "Save Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order Items": {
      "main": [
        [
          {
            "node": "Prepare Order Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Reply": {
      "main": [
        [
          {
            "node": "Send Order Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order Reply": {
      "main": [
        [
          {
            "node": "Acknowledge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Acknowledge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "515296e1246e291725c46fdc824bd55bd9964c83703dbae6544a6c8927ae5656"
  }
}
