n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-whatsapp-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "89dde850-85f2-418f-9421-1af3de395352",
      "name": "WASender Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 208],
      "webhookId": "3a6ecbbc-8d0b-4d34-b6ca-6cea23e54bd8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sender-id",
              "name": "senderId",
              "value": "={{ $json.body.data.messages.key.cleanedSenderPn ?? $json.body.data.messages.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "message-text",
              "name": "messageText",
              "value": "={{ $json.body.data.messages.messageBody ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "session-key",
              "name": "sessionKey",
              "value": "={{ $json.body.data.messages.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "from-me",
              "name": "fromMe",
              "value": "={{ $json.body.data.messages.key.fromMe }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "9123be6c-4a6a-417e-9a03-2d14f9c8ce67",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 208]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.messageText }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": ""
            },
            {
              "leftValue": "={{ $json.fromMe }}",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c66a783d-9b71-426c-949a-116fd6870e0c",
      "name": "Is Real Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [448, 208]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "menu_items",
        "returnAll": true
      },
      "id": "7a62e9a1-574e-4d3d-93da-333c5466ee25",
      "name": "Get Menu",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [672, 16],
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "VmPkucuvo5DoyPHi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "src-menu",
              "name": "_source",
              "value": "menu",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ccec1ed3-2ed1-426f-822d-1ae48ca5ce43",
      "name": "Tag Menu Rows",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [896, 16]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst menuItems = [];\nlet restaurantInfo = {};\n\nfor (const item of items) {\n  if (item.json._source === 'menu') {\n    menuItems.push(item.json);\n  } else if (item.json._source === 'info') {\n    restaurantInfo = item.json;\n  }\n}\n\nconst menuText = menuItems.map(m =>\n  `• ${m.name} — ${m.description ?? ''} | Price: ${m.price} EGP${m.category ? ' | Category: ' + m.category : ''}`\n).join('\\n');\n\nreturn [{\n  json: {\n    menuContext: menuText || 'Menu not available at the moment.',\n    restaurantContext: `Name: ${restaurantInfo.name ?? 'Our Restaurant'}\\nAddress: ${restaurantInfo.address ?? 'N/A'}\\nPhone: ${restaurantInfo.phone ?? 'N/A'}\\nHours: ${restaurantInfo.working_hours ?? 'N/A'}`,\n    senderId: $('Extract Message').first().json.senderId,\n    messageText: $('Extract Message').first().json.messageText,\n    sessionKey: $('Extract Message').first().json.sessionKey\n  }\n}];\n"
      },
      "id": "94c6d507-db80-4989-a88e-539e727db809",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 112]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "received"
        },
        "options": {
          "responseCode": 200
        }
      },
      "id": "b02711f1-be04-4e53-9ced-648971ef6d97",
      "name": "Acknowledge Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2816, 208]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users_insights",
        "returnAll": true
      },
      "id": "fe4cd65e-2b16-405a-b39b-aad66202b3ac",
      "name": "Get Restaurant Info",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [672, 208],
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "VmPkucuvo5DoyPHi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "src-info",
              "name": "_source",
              "value": "info",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "70f750df-f62f-4806-a1a6-dc5c00d68c8d",
      "name": "Tag Info Rows",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [896, 208]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "options": {
          "systemMessage": "=You are a friendly WhatsApp chatbot for a restaurant.\nAlways reply in the same language the customer uses (Arabic or English).\nBe concise, warm, and helpful.\n\n=== RESTAURANT INFORMATION ===\n{{ $json.restaurantContext }}\n\n=== MENU ===\n{{ $json.menuContext }}\n\n=== YOUR RESPONSIBILITIES ===\n- Answer questions about the menu (items, prices, ingredients, categories)\n- Share restaurant info: address, phone number, working hours\n- Help customers build and confirm their order\n- When a customer CONFIRMS their final order (e.g. says \"yes\", \"confirm\", \"order this\", \"طلبت\", \"اطلب\", \"تمام\", \"أكيد\"), output the order in the special format below\n- If asked about something you don't know, politely say you'll check and ask them to call the restaurant\n\n=== ORDER CONFIRMATION FORMAT ===\nWhen the customer confirms their order, your ENTIRE response must be ONLY this JSON block (no extra text before or after):\nORDER_CONFIRMED:{\"items\":[{\"name\":\"Item Name\",\"quantity\":1,\"price\":50}],\"total\":50,\"customer_phone\":\"{{ $json.senderId }}\",\"notes\":\"any special requests or empty string\"}\n\n=== RULES ===\n- Never make up menu items or prices — only use what is listed above\n- Keep replies short and friendly, suitable for WhatsApp\n- Use emojis sparingly 🍽️\n- Only output ORDER_CONFIRMED JSON when the customer has explicitly confirmed — not while they are still browsing"
        }
      },
      "id": "57351317-d40a-4781-825c-4909d8a3a646",
      "name": "Restaurant AI Chatbot",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1344, 112]
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.5
        }
      },
      "id": "c48d3bf3-fc8f-4919-96be-7aaa44b7327b",
      "name": "Gemini 2.5 Flash Lite",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1360, 336],
      "credentials": {
        "openRouterApi": {
          "id": "vsbx3ymi6pBYje8s",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionKey }}",
        "contextWindowLength": 10
      },
      "id": "40b96ba8-d7d2-434b-84b8-7f28d16d4986",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [1488, 336]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "ORDER_CONFIRMED:",
              "id": "502e7208-a429-4787-b131-e75e747fc201"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e182d257-410b-494c-b1be-48537dd8c558",
      "name": "Order Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1696, 112]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json.output;\nconst jsonStr = raw.replace('ORDER_CONFIRMED:', '').trim();\nconst order = JSON.parse(jsonStr);\n\nconst itemLines = order.items.map(i =>\n  `  • ${i.name} x${i.quantity} — ${i.price * i.quantity} EGP`\n).join('\\n');\n\nconst confirmationMsg =\n  `✅ تم استلام طلبك! / Order received!\\n\\n` +\n  `🧾 ${itemLines}\\n\\n` +\n  `💰 Total: ${order.total} EGP\\n` +\n  (order.notes ? `📝 Notes: ${order.notes}\\n` : '') +\n  `\\nسيتم التواصل معك قريباً / We will contact you soon! 🙏`;\n\nreturn [{\n  json: {\n    customer_phone: order.customer_phone,\n    items: JSON.stringify(order.items),\n    total_price: order.total,\n    status: 'pending',\n    type: 'whatsapp',\n    notes: order.notes || '',\n    replyText: confirmationMsg,\n    senderId: order.customer_phone\n  }\n}];\n"
      },
      "id": "8953eff8-de4f-48c5-93eb-7b44138dd1b1",
      "name": "Parse Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 16]
    },
    {
      "parameters": {
        "tableId": "orders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $json.customer_phone }}"
            },
            {
              "fieldId": "items",
              "fieldValue": "={{ $json.items }}"
            },
            {
              "fieldId": "total_price",
              "fieldValue": "={{ $json.total_price }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.type }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.notes }}"
            }
          ]
        }
      },
      "id": "23d87e18-8758-4774-bd77-8288c243d2bf",
      "name": "Save Order",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2144, 16],
      "credentials": {
        "supabaseApi": {
          "id": "VmPkucuvo5DoyPHi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reply-to",
              "name": "to",
              "value": "={{ $(\"Parse Order\").first().json.senderId }}",
              "type": "string"
            },
            {
              "id": "reply-text",
              "name": "text",
              "value": "={{ $(\"Parse Order\").first().json.replyText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "98cd0d83-8b24-4c86-acfd-d86d3ece4679",
      "name": "Prepare Order Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2368, 16]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.text }}\"\n  }\n}",
        "options": {}
      },
      "id": "aec19fea-cff3-4781-84ff-ee384a2a42ab",
      "name": "Send Order Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2592, 16]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reply-to",
              "name": "to",
              "value": "={{ $(\"Build Context\").first().json.senderId }}",
              "type": "string"
            },
            {
              "id": "reply-text",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2b748e3f-a49a-4ac7-a2de-797a4a7d160d",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2368, 208]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wasenderapi.com/api/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "876c4df5-7bde-4285-8748-ce263b95fc86",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2592, 208],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5Ugm7BAr5vE5fpmf",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "Z0C1kXjMI0QJ34as",
          "name": "Bearer Auth account 4"
        }
      }
    }
  ],
  "connections": {
    "WASender Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Is Real Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Real Message?": {
      "main": [
        [
          {
            "node": "Get Menu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Restaurant Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Menu": {
      "main": [
        [
          {
            "node": "Tag Menu Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Menu Rows": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Restaurant AI Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Restaurant Info": {
      "main": [
        [
          {
            "node": "Tag Info Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Info Rows": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant AI Chatbot": {
      "main": [
        [
          {
            "node": "Order Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Restaurant AI Chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Restaurant AI Chatbot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Order Confirmed?": {
      "main": [
        [
          {
            "node": "Parse Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Order": {
      "main": [
        [
          {
            "node": "Save Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order": {
      "main": [
        [
          {
            "node": "Prepare Order Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Reply": {
      "main": [
        [
          {
            "node": "Send Order Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order Reply": {
      "main": [
        [
          {
            "node": "Acknowledge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Acknowledge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "515296e1246e291725c46fdc824bd55bd9964c83703dbae6544a6c8927ae5656"
  }
}
